<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
    </head>

    <body>

        <header>
            <div class="">
                <h1>Aylient Sentiment Analysis</h1>
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h2><strong>Form Results:</strong></h2>
                <div id="results"></div>
                <h3>Polarity</h3>
                <p id="polarity"></p>
                <h3>Polarity Confidence Score</h3>
                <p id="polarity_confidence"></p>
                <h3>Subjectivity</h3>
                <p id="subjectivity"></p>
                <h3>Subjectivity Confidence Score</h3>
                <p id="subjectivity_confidence"></p>
                <h3>Text</h3>
                <p id="text"></p>
            </section>
        </main>

        <footer>
            <p>API obtained from Aylien Ltd.</p>
        </footer>
        <script>
            // Check that service workers are supported. Service workers allow offline access. 
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
